/* Accordion.css */

.accordion {
    width: 100%;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-title {
    display: block;
    padding: 15px;
    cursor: pointer;
    background-color: #f1f1f1;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
  }
  
  .accordion-title:hover {
    background-color: #e1e1e1;
  }
  